@import '../../global';

.laundry-brands-section.background-color-1a96fc.brands-section-styling {
    background-color: rgba(26, 150, 252, .05);
    height: 31.563rem;
    padding-top: 6.188rem;
}

.section-padding {
    max-width: none;
    display: flex;
    // margin-left: 0;
    // margin-right: 0;
    // .brands-container-styling {
    //     padding-right: 53px !important;
    //     padding-left: 120px;
    // }
    //     width: 95%;
    //     max-width: none;
    .laundry-brands-header.brands-header-styling {
        width: 39.063rem;
        margin-left: auto;
        margin-right: auto;
    }
    .laundry-brands-header {
        color: #14183e;
        text-align: center;
        // text-transform: undefined;
        margin-top: 0;
        // margin-bottom: 0;
        font-family: Volkhov, sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 100%;
        
    }

    .brand-logos-container {
        justify-content: center;
        align-items: center !important;
        width: 100%;
        max-width: none;
        height: 15rem;
        margin-top: 4.25rem;
        display: flex;  

        .brand-logo-wrapper {
            background-image: url("../../../public/assets/logo-wrapper.png");
            background-position: 50% 0;
            background-size: auto;
            justify-content: center;
            align-items: flex-start;
            width: 8.75rem;
            max-width: none;
            height: 15rem;
            margin-left: 0;
            display: flex;
            &:not(:last-child) {
                margin-right: 100px;
            }
            .image-3 {
                object-fit: contain;
                width: 6.68rem;
                height: 4.75rem;
                margin-top: 1.875rem;
                
            }
            // img {
            //     vertical-align: middle;
            //     max-width: 100%;
            //     display: inline-block;
            // }
        }

        .brand-logo-wrapper.middle-brand-style {
            background-image: url('../../../public/assets/middle-logo-wrapper.png');
            background-size: auto;
            justify-content: center;
            align-items: flex-start;
            width: 15.063rem;
            margin-right: 100px;
            display: flex;
        }
    }
    // }
}