@import "../../global.scss";
.file-upload-container {
    width: 328px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-top: 2px;
    margin-bottom: 51px;
  }
  
  .file-upload {
    width: 100%;
    max-width: 500px;
    height: 131px;
    border: 2px dashed #1a96fc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;

    .fut-color {
      color: $neutral_400_color;
    }
  }
  
  .file-upload.active {
    background-color: #e6f7ff;
  }
  
  .file-upload-text {
    font-size: 16px;
    color: #1a96fc;
  }
  
  .file-upload-subtext {
    font-size: 12px;
    color: #888888;
  }

  
  @media (max-width: 600px) {
    .file-upload {
      height: 150px;
    }
  }
  