@import "../../global";
@import "./login-aside.scss";
@import "./formInputStyles/form-input-general.scss";
main {
    width: 1440px;
    height: 950px;
    box-sizing: border-box;

}

.login-page-wrapper {
    // height: 100%;
    box-sizing: border-box;
    max-height: 912px;
    padding: 11px 21px;
    display: flex;
    width: 100%;

    .login-main-wrapper {
        width: 648px;
        height: 493px;
        display: flex;
        padding: 0 112px 50px 112px;
        margin-left: auto;
        justify-content: center;
        // margin-right: 169px;
        margin-top: 245px;

        .login-main {
            display: flex;
            flex-direction: column;
            width: 424px;

            .login-main-header {
                display: flex;
                flex-direction: column;

                .login-header-logo1 {
                    height: 50px;
                    width: 50px;
                }

                .login-header-text-container {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 12px;

                    .login-header-logo-text {
                        width: 178px;
                        position: relative;
                        line-height: 150%;
                        background: $gradient_main;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-align: left;
                        display: inline-block;
                        font-size: 32px;
                        font-family: Poppins;
                    }

                    .login-header-paragraph {
                        position: relative;
                        font-size: 12px;
                        font-family: Poppins;
                        color: $neutral_600_color;
                        text-align: center;

                        &.reset-password-header-paragraph {
                            text-align: left;

                            &.successfully-sent-hp {
                                width: 379px;
                            }

                            span {
                                color: $primary-color;
                            }
                        }

                        ;
                    }

                    .successfully-sent-wrapper {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 10px;
                        margin-top: 17px;

                        .successfully-sent-paragraph {
                            color: $neutral_700_color;
                            font-size: 14px;
                            font-weight: 500;

                        }

                        .successfully-sent-tick {
                            width: 22px;
                            height: 22px;

                        }
                    }
 
                }

            }

            .login-form {
                width: 100%;
                position: relative;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 12px 0px 0px;
                box-sizing: border-box;
                text-align: left;
                font-size: 14px;
                color: $neutral_600_color;
                font-family: Inter;

                

                .form-error-text {
                    width: 100%;
                    position: relative;
                    height: 17px;
                    font-family: Poppins;
                    color: #ff3932;
                    text-align: left;
                    font-size: 12px;


                    &.form-success {
                        color: #60b527;
                    }
                }

                .form-help-text {
                    width: 100%;
                    text-align: right;
                    line-height: 12px;
                    margin-top: 8px;
                    margin-bottom: 26px;
                    font-size: 14px;

                    .forgot-password-link {
                        font-family: Poppins;
                        color: $primary_color;
                        text-decoration: none;
                        font-size: 12px;
                    }
                }
            }

            .form-button {
                height: 56px !important;

                padding-top: 16px;
                padding-bottom: 16px;

                &.reset-confirm-button {
                    margin-top: 27px;
                }

                &.disabled-button {
                    background-color: $disabled_color;
                    cursor: not-allowed;
                }
            }

            .form-help-text2 {
                width: 100%;
                text-align: left;
                line-height: 14px;
                margin-top: 18px;
                font-size: 14px;

                &.ss-margin-top {
                    margin-top: 33px;
                }

                .create-account-link {
                    text-decoration: none;
                    color: $primary_color;
                    font-size: 14px;

                }
            }
        }
    }

    
}