.material-symbols {
    height: 30px;
    position: relative;
    width: 30px;
}

.material-symbols .vector {
    height: 22px;
    left: 5px;
    position: absolute;
    top: 4px;
    width: 20px;
}
