@import '../../global';
 
.full-toggle-parent {
    width: 372px;
    position: relative;
    height: 38px;
    text-align: right;
    font-size: 20px;

    .full-toggle {
        height: 89.47%;
        width: 100%;
        overflow: hidden;

        .monthly {
            position: absolute;
            top: calc(50% - 15px);
            left: 0.27%;
            letter-spacing: -0.2px;
            line-height: 32px;
        }

        
        .rectangle-parent {
            position: absolute;
            height: 100%;
            width: 22.85%;
            top: 0%;
            right: 53.76%;
            bottom: 0%;
            left: 23.39%;
            cursor: pointer;
            .rectangle1 {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0%;
                right: 0%;
                bottom: 0%;
                left: 0%;
                border-radius: 20px;
                background-color: #cacaca;
                opacity: 0.8;
                mix-blend-mode: normal;
            }

            .oval {
                position: absolute;
                width: 35.29%;
                top: calc(50% - 15px);
                right: 54.12%;
                left: 10.59%;
                border-radius: 50%;
                background-color: $tertiary_color;
                height: 30px;

                &.yearly {
                    right: 10.59% !important;
                    left: 54.12% !important;
                }
            }
        }
        .yearly {
            position: absolute;
            top: calc(50% - 15px);
            left: 49.19%;
            letter-spacing: -0.2px;
            line-height: 32px;
            text-align: left;
        }
        .tagtag-02 {
            position: absolute;
            height: 85.29%;
            width: 25.54%;
            top: 8.82%;
            right: 5.65%;
            bottom: 5.88%;
            left: 68.82%;
            text-align: center;
            font-size: 13px;
            color: $primary_color;
            font-family: Lexend;
        
            .tag {
                // position: absolute;
                // height: 100%;
                // width: 100%;
                // top: 0%;
                // right: 0%;
                // bottom: 0%;
                // left: 0%;
                overflow: hidden;
        
                .rectangle {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0%;
                    right: 0%;
                    bottom: 0%;
                    left: 0%;
                    border-radius: 14.5px;
                    background: $primary_color;
                    opacity: 0.1;
                    mix-blend-mode: normal;
                }
        
                .save-25 {
                    position: absolute;
                    top: calc(50% - 8.5px);
                    left: 9.47%;
                    letter-spacing: 1.63px;
                    text-transform: uppercase;
                }
            }
        }
    }
}