@import '../../../global.scss';

.hero-section {
  position: relative; /* Ensures positioning of the pseudo-element */
  background-image: url('../../../../public/assets/hero-section-background.png');
  background-size: contain;
  height: 56.007rem;
  // padding-top: 4.361rem;
  background-position: 0 0;
  background-repeat: no-repeat;
  min-width: 0;
  min-height: 0;
  // overflow-x: scroll;
  .section-padding-0 {
    width: 100%;
    max-width: none;
    height: 46.5rem;
    margin-left: 0;
    margin-right: 0;
    display: flex;

    .hero-container.hero-container-background {
      background-image: none;
      width: 80.699rem;
      max-width: none;
      height: 39.367rem;
      margin-top: 5.608rem;
      margin-bottom: 7.478rem;
      display: flex;
  
      .hero-text {
        width: 42rem;
        height: 458px;
        margin-top: 3.439rem;
        margin-left: 3.125rem;
        position: relative;
  
        // flex-flow: column;
        // min-width: 0;
        // justify-content: center;
        // align-self: center;
        // align-items: flex-start;
        margin-right: -192px;
        // display: flex;
        .hero-heading {
          // background-image: url('../../../public/assets/hero\ background.png');
          background-position: 0 0;
          background-size: 50rem;
          width: auto;
          font-family: "Volkhov", sans-serif;
          font-size: 4.375rem;
          line-height: 96px;
          color: $foundation_darker_color;
          text-align: left;
          letter-spacing: -.02em;
          flex: 0 auto;
          height: auto;
          min-height: 0;
          margin-top: 0;
          margin-bottom: 0;
          font-weight: 700;
          display: flex;
        }
  
        .desc-2 {
          width: 34rem;
          font-family: 'Poppins', sans-serif;
          font-weight: 500;
          margin-top: 1.25rem;
          font-size: 16.7px;
  
          .desc-4 {
            color: #1a96fc;
            font-size: 17px;
            line-height: 30px;
            text-decoration: underline;
          }
        }
  
        .container {
          width: 28.625rem;
          margin-top: 1.25rem;
          margin-left: 0;
          display: flex;
          
          .text-underline-none {
            margin-right: 30px;
          }
        }
      }
  
      
    }
  
    
}
  

}



